body {
  margin: 0;
  font-family: var(--malloy-composer-fontFamily, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root,
body {
  height: 100%;
  width: 100%;
}

code {
  font-family: var(--malloy-composer-code-fontFamily, monospace);
}

