body {
  margin: 0;
  font-family:
    Arial, Helvetica, sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
#root,
body {
  height: 100%;
  width: 100%;
}

code {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

